@charset "utf-8";
/*style.css */

#quote {
	width:200px;
	border:1px solid black;
	padding:5px;
	background-color:#990000;
	
}
#buttons {
	padding-top:8px;
	padding-bottom:8px;
}
#prev_button {
	margin-right:105px;
}
button {
	width:75px;
}
p{
font-family:Arial, Helvetica, sans-serif;
color:#CCCCCC;
}
span{
font-family:Arial, Helvetica, sans-serif;

}
h1{
font-family:Georgia, "Times New Roman", Times, serif;
margin-left:25px;
color:#CCCCCC;
text-decoration:underline;
}